.choice-section{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 10px 40px;
}   

.choice-heading {
    font-size: 40px;
}

.choice-description {
    color: gray;
    font-size: 20px;
    margin-bottom: 50px;
}

.choice-cards-section{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

@media screen and (max-width: 768px) {
  
  .choice-section {
    padding: 40px 20px 20px 20px; 
  }

  .choice-heading {
    font-size: 28px; 
    text-align: center;
  }

  .choice-description {
    font-size: 16px; 
    text-align: center;
    margin-bottom: 30px; 
  }

  .choice-cards-section {
    flex-direction: column; 
    align-items: center;    
    gap: 30px;              
    width: 100%;
  }
}