.job-search-companies {
    margin-top: 100px;
}

.company-main-section {
    border: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    margin: 20px 0px;
    margin-left: 160px;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.company-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    height: 100px;
    width: 100px;
    padding: 20px;
}

.company-header-container {
    display: flex;
    gap: 10px;
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 150px;

}

.company-divider {
    margin: 0 10px;
}

.company-image-container image {
    height: 100px;
    width: 100px;
}

.company-logo {
    gap: 10;
    width: 100px;

}

.company-details-section {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 25px;
}



.company-info-card {
    background-color: #E9F3FC;
    width: 300px;
    border-radius: 60px;
    padding: 5px 30px;
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    height: 100px;
}

.company-name {
    margin: 0;
    font-size: 1.8em;
    color: #1f2937;
    font-weight: bold;
}

.company-title-container {
    margin: 5px 10px;
    color: #6b7280;
    font-size: 0.9em;
}

.company-moto {
    display: flex;
    font-size: 1.05em;
    font-weight: 500;
    color: #1f2937;
    margin-right: 50px;
}