.SearchResults-job-card {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 18px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  cursor: pointer;
  text-decoration: none;
  margin: 20px 20px;
}

.SearchResults-job-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SearchResults-job-card-title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  text-align: left;
  color: #032240;
}

.SearchResults-job-card-company {
  font-size: 16px;
  color: #83858B;
  text-align: left;
  margin-top: 5px;
}

.SearchResults-job-card-job-logo {
  width: 60px;
  height: 60px;
  border-radius: 1px;
  object-fit: contain;
}

.SearchResults-job-card-logo-placeholder {
  width: 60px;
  height: 60px;
  font-size: 20px;
  border: 1px solid #1E88E5;
  border-radius: 5px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #1E88E5;
}

.SearchResults-job-card-details {
  text-align: left;
  margin: 1px 0;
  font-size: 14px;
  color: #83858B;
}

.SearchResults-job-card-icons {
  height: 16px;
  margin-right: 7px;
}

.SearchResults-job-card-detail-line {
  display: flex;
  align-items: center;
}

.SearchResults-job-card-divider {
  margin: 0 10px;
  font-size: 20px;
  font-weight: 600;
  color: #EDEDED;
}

.SearchResults-job-card-tags {
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
}


.SearchResults-job-card-tag.full-time {
  border-color: #1E88E5;
  color: #1E88E5;
}

.SearchResults-job-card-tag.internship {
  border-color: #f7931a;
  color: #f7931a;
}

.SearchResults-job-card-job-meta {
  font-size: 15px;
  color: #83858B;
  margin-bottom: 8px;
}

.SearchResults-job-card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.SearchResults-job-card-save-btn {
  border: 1px solid #1E88E5;
  background: white;
  color: #1E88E5;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.SearchResults-job-card-save-btn:hover {
  background: #1E88E5;
  color: #fff;
}

.SearchResults-job-card-apply-btn {
  background: #1E88E5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.SearchResults-job-card-apply-btn:hover {
  background: #fff;
  border: 1px solid #ccc;
  color: #1E88E5;
}

.SearchResults-job-card-separator {
  border: none;
  border-top: 2px solid #EDEDED;
  margin: 10px 0;
}



.SearchResults-job-card-job-footer {
  padding-top: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #83858B;
}