*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.blogpage{
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin: 30px 0;
}
.cat-con{
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  /* border:1px solid #333; */
  padding: 20px;
}

.content{
  max-height: 400px;
}

.container{
  /* width: 90%; */
  /* margin: auto; */
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;

}

.container > div{
  background: #ffff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  padding: 15px;
  transition: transform 0.3s ease;
}

.container > div:hover{
  transform: translateY(-8px);
}
.container img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.container h3{
  margin: 15px 0 10px;
  font-size: 18px;
  color: #333;

}
.container p{
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

.categories {
  /* padding: 25px; */
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 30px;
}

.categories h1 {
  font-size: 32px;
  font-weight: 700;
  /* text-transform: lowercase; */
}

.view-all {
  background: transparent;
  background-color: blue;
  color: white;
  border: 1px solid #ccc;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
}

.card-title{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 12px;
}