
.dashhead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jobportal{
    font-weight: bold;
    font-size: 22px;
    color: rgb(103, 134, 248);
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px 12px;
    border-color:gray;
    border-style: solid;
    width: 40%;


}

.searchicon{
    width: 20px;
    margin-right: 10px;
}

.input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    font-size: 15px;

}
.icon{
    display: flex;
    align-items: center;
    gap: 30px;
    
   
}
.Msg,.notification{
    width: 22px;
    height: 22px;
}
.profilehead{
    width: 30px;
    height: 30px;
    border-radius: 50;

}